<%- include('partials/header'); %>
  <h1><%= message %></h1>
 
  <br>
  <span class="menu"><a href="/auth/register">Registro</a></span>
  <span class="menu"><a href="/auth/login">Login</a></span>
<%- include('partials/footer'); %>

