    <nav class="col-md-2 d-none d-md-block sidebar">
        <!-- <img src="<%= '../../public/assets/logo-hospital.jpg' %>" alt="Logo del Hospital"> -->
        <h2>MODULOS</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Gestión de Personal</a></li>
            <li><a href="#"><i class="fas fa-vial"></i> Laboratorio</a></li>
            <li><a href="#"><i class="fas fa-boxes"></i> Inventario</a></li>
            <li><a href="#" class="active"><i class="fas fa-shopping-cart"></i> Compras</a></li>
            <li><a href="#"><i class="fas fa-tooth"></i> Consultas Odontológicas</a></li>
            <li><a href="/dashboard"><i class="fas fa-stethoscope"></i> Consultas Médicas</a></li>
            <li><a href="/dashboard/historias"><i class="fas fa-stethoscope"></i> Consultas -> Historial</a></li>
            <li><a href="#"><i class="fas fa-file-invoice-dollar"></i> Administración</a></li>
            <li><a href="#"><i class="fas fa-procedures"></i> Hospitalización</a></li>
            <li><a href="#"><i class="fas fa-tools"></i> Mantenimiento</a></li>
            <li><a href="#"><i class="fas fa-calendar-check"></i> Gestión de Citas</a></li>
        </ul>
        <div class="bottom-links">
            <ul>
                <li><a href="#"><i class="fas fa-question-circle"></i> Help</a></li>
                <li><a href="#" id="logoutBtn"><i class="btn-logout mt-2"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>